################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InMemory.Cache.Interface/bin
/InMemory.Cache.Interface/obj
/InMemory.Cache.Memcached/bin
/InMemory.Cache.Memcached/obj
/InMemory.Cache.Redis/bin
/InMemory.Cache.Redis/obj
/Tests/InMemory.Cache.Test/bin
/Tests/InMemory.Cache.Test/obj
